a {
  text-decoration: none;
  color: inherit;
}

.card-button-icon {
  color: #D50000;
}

.card-icon {
  margin-left: 20px;
  height: 60px;
}

.save-button {
  margin-bottom: 8px;
  margin-left: -8px;
}

.saved-button {
  margin-bottom: 8px;
  margin-left: -8px;
}