<a href="" style="text-decoration: none; color: inherit;">
  <mat-card appearance="outlined" class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>BTC</mat-card-title>
        <mat-card-subtitle>
          <button mat-icon-button style="display: none; margin-bottom: 8px; margin-left: -8px;">
            <mat-icon>favorite_outline</mat-icon>
          </button>
          <button mat-icon-button style="margin-bottom: 8px; margin-left: -8px;">
            <mat-icon class="card-button-icon">favorite</mat-icon>
          </button>
        </mat-card-subtitle>
        <img
          src="https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_256/4caf2b16a0174e26a3482cea69c34cba.png"
          alt="Icon" class="card-icon" />
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</a>