<mat-card appearance="outlined" class="card">
  <mat-card-header>
    <mat-card-title-group>
      @if (asset_name) {
      <mat-card-title>
        {{asset_name}}
      </mat-card-title>
      }
      @if (asset_id) {
      <mat-card-subtitle>{{asset_id | uppercase}}</mat-card-subtitle>
      }
      @if (img_src) {
      <img [src]="img_src" class="icon">
      }
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
@if (hourlyData) {
<app-chart title="1 hour" [labels]="hourlyData.labels" [data]="hourlyData.values" timeUnit="minute"
  tooltipFormat="HH:mm - dd/MM"></app-chart>
}
@if (daylyData) {
<app-chart title="1 day" [labels]="daylyData.labels" [data]="daylyData.values" timeUnit="hour"
  tooltipFormat="HH:mm - dd/MM"></app-chart>
}
@if (weeklyData) {
<app-chart title="1 week" [labels]="weeklyData.labels" [data]="weeklyData.values" timeUnit="day"
  tooltipFormat="dd/MM - HH:mm"></app-chart>
}
@if (monthlyData) {
<app-chart title="1 month" [labels]="monthlyData.labels" [data]="monthlyData.values"
  tooltipFormat="dd/MM - HH:mm"></app-chart>
}