@use '@angular/material' as mat;
@use "m3-theme.scss";

@include mat.core();

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container,
.app-header {
  width: 100%;
  margin: auto;
  box-sizing: border-box;

  @media (1400px <=width) {
    max-width: 1320px;
  }

  @media (1200px <=width <=1400px) {
    max-width: 1140px;
  }

  @media (992px <=width <=1200px) {
    max-width: 960px;
  }
}

.app-toolbar {
  background-color: mat.get-theme-color(m3-theme.$light-theme, primary-container) !important;
}

.app-body {
  padding: 16px;
}